{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Medium Article Manager</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
      <link href="{% static 'assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/libs/css/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
      <link rel="stylesheet" href="{% static 'tiny/prism.css'%}">
        <script src="{% static 'tiny/tinymce.min.js' %}"  referrerpolicy="origin"></script>
 
    
      
      <script type="text/javascript">
        tinymce.init({
            height: 500,
            custom_undo_redo_levels: 20,
            cleanup_on_startup: true,
            selector: "textarea",  // change this value according to your HTML
            plugins: "textcolor,save,link,image,media,preview,codesample,contextmenu,table,code,lists,fullscreen,insertdatetime,nonbreaking,contextmenu,directionality,searchreplace,wordcount,visualblocks,visualchars,code,fullscreen,autolink,lists,charmap,print,hr,anchor,pagebreak",
            toolbar1: " fullscreen preview bold italic underline | fontselect, fontsizeselect  | forecolor backcolor | alignleft alignright | aligncenter alignjustify | indent outdent | bullist numlist table | | link image media | codesample |",
            toolbar2: " visualblocks visualchars | charmap hr pagebreak nonbreaking anchor |  code |",
            
          });
    
</script>
   </head>
   <style>
      .btn-wrap-text {
      white-space: normal !important;
      word-wrap: break-word !important;
      }
      @media (min-width: 5000px) {
      .modal-xlg {
      width: 100%; 
      }
      }    
      .center {
      margin: auto;
      width: 50%;
      }

      .toptext {
  display: flex;
  align-items: safe  center;
}
.responsive {
  width: 20%;
  height: auto;
}

.responsive2 {
    width: 90%;
    height: auto;
  }
   </style>
   <body>
      <!-- ============================================================== -->
      <!-- main wrapper -->
      <!-- ============================================================== -->
     
      <!-- ============================================================== -->
      <!-- navbar -->
      <!-- ============================================================== -->
     
  

      <!-- ============================================================== -->
      <!-- end navbar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- left sidebar -->
      <!-- ============================================================== -->
      
      <!-- ============================================================== -->
      <!-- end left sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- wrapper  -->
      <!-- ============================================================== -->
     
      <div class="container-fluid dashboard-content">
         <!-- ============================================================== -->
         <!-- pageheader -->
         <!-- ============================================================== -->
                    <a href="/">
   
   <img src="{% static 'images/medium.png'%}  " alt="Medium" class="responsive" width="600" height="400">  
   <div style="font-size:15px; color:black;">
   Advanced Article Manager
   
   </div>
   
  </a>   
         
        <div ><h3>Paste Content Here</h3>
         
           </div>
<div class="card-header text-center">Article's Server ID- {{article.pk}}	&nbsp;	&nbsp; Series- {{article.series}}	&nbsp;	&nbsp; Episode- {{article.episode}}  
         
           </div>
 
         <!-- ============================================================== -->
         <!-- end pageheader -->
         <!-- ============================================================== -->
         <!-- ============================================================== -->
         <!-- accrodions -->
         <!-- ============================================================== -->
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               
               <div class="row">
                <div class="col">
                    <div class="card card-body">
                        <div class="table-responsive">
             <form method="POST" role="form" class="form" name="login" id='login'> 
                {% csrf_token %}
              
                    <div class="form-group">

                         <textarea id="email",  form="login", name='email'></textarea>
                    </div>
               
              
                    <button type="submit" id='submit_button' name='submit_button'class="btn btn-outline-dark btn-lg btn-block active">Proceed</button>
                </form>
                
                    
                    </div>
                    </div>
                </div>
            </div>
               




               </div>
         </div>
               
   </body>
</html>
<script src="{% static 'tiny/prism.js' %}"></script>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="{% static 'assets/vendor/inputmask/js/jquery.inputmask.bundle.js' %}"></script>
   
    <script src="{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js'%}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js'%}"></script>
    <script src="{% static 'assets/vendor/datatables/js/data-table.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    