
{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <title>Sanidhya's Article Manager</title>

<style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.7;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
   .center {
      margin: auto;
      width: 50%;
      }
    .toptext {
  display: flex;
  align-items: baseline;

}
}

.responsive {
  width: 100%;
  height: auto;
}


.autocomplete {
  position: relative;
  display: inline-block;
}



.autocomplete-items {
  position: absolute;
  border: 1px solid #EFEFF6;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #ffff; 
  border-bottom: 1px solid #EFEFF6; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #EFEFF6; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #EFEFF6 !important; 
  color: #00000; 
}
    </style>
</head>

<body>

<script>
function openNav() {
  document.getElementById("myNav").style.width = "100%";
}

function closeNav() {
  document.getElementById("myNav").style.width = "0%";
}
</script>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
   <a class="navbar-brand"><span>
   <div class="toptext">
   <a class="navbar-brand" href="/"><span>
   <img src="{% static 'images/medium.png'%}  " alt="Medium" class="responsive" width="600" height="400">  
   <div style="font-size:15px; color:black;">
   Advanced Article Manager
   </div>
   </div>
   
   </span></a>

        <div class="card ">
              <div id="myNav" class="overlay"> 
                  <div class="overlay-content">
                  <h3 style="color:#FFFF">Verifying Answer...</h3>
                  </div>
                </div>

            <div class="card-header text-center"><h3>Input Article Link</h3>Article's Server ID- {{article.pk}}<br>Series- {{article.series}}<br> Episode- {{article.episode}}   <h1><time>Time Elapsed</time></h1>
            <a href='/tbreak/{{article.pk}}'><button id="copy" class="btn btn-{{btnclr}}" >{{btn}}</button></a><br>
          {{article.start_time}}
          
          <br>
           <button type="submit" id='Button1' name='Button1'class="btn btn-outline-dark  active">Launch Tabs</button><br>
[Requires<strong> Pop-ups and redirects </strong>Permission]


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript">




$("#Button1").click(function(){
            multiopen();
});
        function multiopen() {
            window.open('https://medium.com/new-story');
            window.open('https://medium.com/me/stories/public');
            window.open('https://medium.com/me/stories/drafts');
            //window.open('https://www.w3schools.com');         
        }
    </script>
           </div>
            <div class="card-body">
               <form method="POST" role="form" class="form" name="login" id='login'> 
                {% csrf_token %}
              
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="email" id="email" type="text" placeholder="Link" autocomplete="off">
                    </div>
                     
                    
                    
                    <div id='errors'>

                     </div>   
                    <button type="submit" id='submit_button' name='submit_button'class="btn btn-outline-dark btn-lg btn-block active">Proceed</button>
                </form>
                
            </div>
          
            </div>
        </div>
    </div>
  
    <!-- ============================================================== -->
    <!-- end login page  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
     <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>        

<script>

     
       
         $("#submit_button").click(function(e){
           openNav()
             e.preventDefault()
            $.ajax({
                type:'POST',
                url: "{% url 'lnikselect' %}",
                data:{
                    email:$('#email').val(),
                    key: {{article.pk}},
                    password:$('#password').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    action: 'post'
                },
                success:function(json){
                     
                     if(json.access_granted == false)
                      { closeNav()   
                        $("#errors").empty();
                         
                        $.each(json.errors, function( index, error ) {
                          //alert( error );
                          $("#errors").append('<div class="text-danger">'+error+'</div>');
                         
                    });
                    }
                     else if(json.access_granted == true)
                     {
                         window.location = '/newarticle-step4/'+{{article.pk}};
                     }

                   


                },
                error : function(xhr,errmsg,err) {
                $('#sigunuperror').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });







     
    </script>    

 
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
    <script>
    var h1 = document.getElementsByTagName('h1')[0],
    start = document.getElementById('start'),
    stop = document.getElementById('stop'),
    clear = document.getElementById('clear'),
    seconds = {{time.sec}}, minutes = {{time.min}} , hours = {{time.hour}},
    t;

function add() {
    seconds++;
    if (seconds >= 60) {
        seconds = 0;
        minutes++;
        if (minutes >= 60) {
            minutes = 0;
            hours++;
        }
    }
    
    h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

    timer();
}
function timer() {
    t = setTimeout(add, 1000);
}
timer();


/* Start button */


/* Stop button */
stop.onclick = function() {
    clearTimeout(t);
}

/* Clear button */
clear.onclick = function() {
    h1.textContent = "00:00:00";
    seconds = 0; minutes = 0; hours = 0;
}
    </script>



    <script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var countries = [
{% for i in eps%}
                                                 
"{{i}}",
                             

{% endfor%}
];

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("iname"), countries);
</script>
</body>
 
</html>