{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Medium Article Manager</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
      <link href="{% static 'assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/libs/css/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
      <link rel="stylesheet" href="{% static 'tiny/prism.css'%}">
      
      <script type="text/javascript">
        tinymce.init({
            selector: "textarea",  // change this value according to your HTML
            plugins: "codesample",
            toolbar: "codesample"
          });
    
</script>


<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
	zoomEnabled: true,
	title: {
		text: "Try Zooming and Panning"
	},
	data: [{
		type: "area",
		dataPoints: []
	}]
});

addDataPoints(1000);  
chart.render();

function addDataPoints(noOfDps) {
	var xVal = chart.options.data[0].dataPoints.length + 1, yVal = 100;
	for(var i = 0; i < noOfDps; i++) {
		yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
		chart.options.data[0].dataPoints.push({x: xVal,y: yVal});	
		xVal++;
	}
}

}
</script>


   </head>
   <style>
      .btn-wrap-text {
      white-space: normal !important;
      word-wrap: break-word !important;
      }
      @media (min-width: 5000px) {
      .modal-xlg {
      width: 100%; 
      }
      }    
      .center {
      margin: auto;
      width: 50%;
      }

      .toptext {
  display: flex;
  align-items: safe  center;
}
.responsive {
  width: 20%;
  height: auto;
}

.responsive2 {
    width: 90%;
    height: auto;
  }
   </style>
   <body>
      <!-- ============================================================== -->
      <!-- main wrapper -->
      <!-- ============================================================== -->
     
      <!-- ============================================================== -->
      <!-- navbar -->
      <!-- ============================================================== -->
     
  

      <!-- ============================================================== -->
      <!-- end navbar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- left sidebar -->
      <!-- ============================================================== -->
      
      <!-- ============================================================== -->
      <!-- end left sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- wrapper  -->
      <!-- ============================================================== -->
     
      <div class="container-fluid dashboard-content">
         <!-- ============================================================== -->
         <!-- pageheader -->
         <!-- ============================================================== -->
                    <a href="/">
   
   <img src="{% static 'images/medium.png'%}  " alt="Medium" class="responsive" width="600" height="400">  
   <div style="font-size:15px; color:black;">
   Advanced Article Manager
   
   </div>
   
  </a>   
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="page-header">
                  <h2 class="pageheader-title"></h2>
                  <div class="page-breadcrumb">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Medium AAM</a></li>
                           <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Stats</a></li>
                           
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  
  
         <!-- ============================================================== -->
         <!-- end pageheader -->
         <!-- ============================================================== -->
         <!-- ============================================================== -->
         <!-- accrodions -->
         <!-- ============================================================== -->
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="section-block">
               

<ul class="messages">
    {% for message in messages %}
    
   
  <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> {{ message }}
  </div>

    
    {% endfor %}
</ul> 


                        <div class="card">
                        <h5 class="card-header">Episodes Per Day</h5>
                            
                               
 <div class="table-responsive">
<table class="table table-striped">
                                        <thead>
                                            <tr>
                                                 <th scope="col"></th>
                                                <th scope="col">   &nbsp;  &nbsp;Date</th>
                                                <th scope="col">No. of Episodes</th>    
                                                 <th scope="col">Active Time</th>                                                                      
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                    {% for i in new_l%}   
                                            <tr>
                                               <td></td>
                                               
                                                <td>{{i.day}}-{{i.month}}-{{i.year}}</td>
                                                 <td>      &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;  &nbsp;{{i.total}}</td>
                                               <td>     &nbsp;  &nbsp; {{i.time.hour}}:{{i.time.min}}:{{i.time.sec}}</td>
                                            </tr>
    
                            {% endfor%}

                                        </tbody>
                                    </table>
                               
                            </div>
                            <div id="sparkline-1"><canvas width="195" height="100" style="display: inline-block; width: 195.016px; height: 100px; vertical-align: top;"></canvas></div>
                        </div> 
                    









                        <div class="card">
                        <h5 class="card-header">Pages Read Per Book Timewise </h5>
                            
                               


{% for i in book%}   
                                     <div class="table-responsive">
<table class="table table-striped">


                                        <thead>
                                          <strong> &nbsp;  {{i.name}}</stong>
                                            <tr>
                                              
                                                <th scope="col">   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;Time</th>
                                                
                                                 <th scope="col">Pages Number</th>                                                                      
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                    
                                            <tr>
                                              
                                               
                                               
                                                {% for k in i.allpages%} 
                                                 <td>    &nbsp;  &nbsp; {{k.date}}</td>
                                               <td>  &nbsp;&nbsp;{{k.page}}</td>
                                              
                                            </tr>
     {% endfor%}
        </tbody>
                                    </table>
                               
                            </div>
                       

                            {% endfor%}

                                </div>       
                    











<div class="card"><h5 class="card-header">Completed</h5>
 <form method="get">
                            {{Filter.form}}&nbsp;
                            &nbsp;
                           

                        <button class="btn btn-rounded btn-dark active" type="submit">Search</button>
                      </form>
                                
                                 <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                               
                                                <th scope="col">Series</th>
                                                <th scope="col">Episode</th>
                                                <th scope="col">&emsp; &emsp; &emsp; &emsp; Title</th>
                                                 <th scope="col">Published On</th>
                                                 <th scope="col">Time Taken</th>
                                                 <th scope="col">Actual Time</th>
                                                <th scope="col">&emsp; &emsp; &emsp; &emsp; View</th>

                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        
                                    {% for i in fcompleted%}   
                                            <tr>
                                               
                                                <td>{{i.series}}</td>
                                                 <td>{{i.episode}} ({{i.pk}})</td>
                                                 <td><stong>{{i.title}}</stong><br> <p>{{i.subtitle}}</p></td>
                                                  <td><stong>{{i.endtime}}</stong></p></td>
                                                   <td><stong>{{i.ctime.hour}}:{{i.ctime.min}}:{{i.ctime.sec}}</stong></td>
                                                 <td><stong>{{i.time.hour}}:{{i.time.min}}:{{i.time.sec}}</stong></td>
                                                <td>  <a href="view/{{i.id}}"><button class="btn btn-rounded btn-dark active" type="submit">Server</button></a>
                                                 <a href="{{i.link}}"> <button class="btn btn-rounded btn-outline-dark " type="submit">Medium</button></a></td>
                                                
                                            </tr>
                           
<script>
  var h{{forloop.counter}} = document.getElementById('{{forloop.counter}}'),
    seconds{{forloop.counter}} = {{ i.time.sec }}      , minutes{{forloop.counter}} = {{ i.time.min }}      , hours{{forloop.counter}} = {{ i.time.hour }}      ,
    t;
function add{{forloop.counter}}() {
    seconds{{forloop.counter}}++;
    if (seconds{{forloop.counter}} >= 60) {
        seconds{{forloop.counter}} = 0;
        minutes{{forloop.counter}}++;
        if (minutes{{forloop.counter}} >= 60) {
            minutes{{forloop.counter}} = 0;
            hours{{forloop.counter}}++;
        }
    }
    h{{forloop.counter}}.textContent = (hours{{forloop.counter}} ? (hours{{forloop.counter}} > 9 ? hours{{forloop.counter}} : "0" + hours{{forloop.counter}}) : "00") + ":" + (minutes{{forloop.counter}} ? (minutes{{forloop.counter}} > 9 ? minutes{{forloop.counter}} : "0" + minutes{{forloop.counter}}) : "00") + ":" + (seconds{{forloop.counter}} > 9 ? seconds{{forloop.counter}} : "0" + seconds{{forloop.counter}});
    timer{{forloop.counter}}();
}
function timer{{forloop.counter}}() {
    t = setTimeout(add{{forloop.counter}}, 1000);
}
timer{{forloop.counter}}();
</script>
           
                            {% endfor%}

                                        </tbody>
                                    </table>
                                </div> </div>
















     
                            
               
               </div>
               




	


                         

                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>





               </div>
         </div>
               
   </body>
</html>
<script src="{% static 'tiny/prism.js' %}"></script>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="{% static 'assets/vendor/inputmask/js/jquery.inputmask.bundle.js' %}"></script>
   
    <script src="{% static 'assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js'%}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="{% static 'assets/vendor/datatables/js/buttons.bootstrap4.min.js'%}"></script>
    <script src="{% static 'assets/vendor/datatables/js/data-table.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    


