{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Edversity Genrate Invite Link</title>
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}">
      <link href="{% static 'assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'assets/libs/css/style.css'%}">
      <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
   </head>
   <style>
      .btn-wrap-text {
      white-space: normal !important;
      word-wrap: break-word !important;
      }
      @media (min-width: 5000px) {
      .modal-xlg {
      width: 100%; 
      }
      }    
      .center {
      margin: auto;
      width: 50%;
      }
           .toptext {
  display: flex;
  align-items: baseline;

}




$white: #ffffff;
$black: #000000;
$purple200: #c1bde3;
$purple300: #24243e;
$purple400: #302b63;
$purple500: #201a4e;
$width-md: 720px;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  background: $purple400;

  @media (min-width: $width-md) {
    flex-direction: row;
  }
}

::selection {
  background-color: rgba($purple200, 0.25);
}

#text {
  box-sizing: border-box;
  min-height: 40px;
  background-color: rgba($purple200, 0.05);
  border-radius: 4px;
  padding: 10px 15px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  box-shadow: 0px 2px 12px -3px rgba($black, 0.75);

  @media (min-width: $width-md) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
}


  &:before {
    content: "";
    width: 16px;
    height: 16px;
    bottom: -20px;
    left: 33px;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
  }

  &:after {
    content: attr(tooltip);
    width: 140px;
    bottom: -48px;
    left: -30px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  &:before,
  &:after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
    transform: translateY(-10px);
    transition: all 300ms ease;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    transform: translateY(0);
  }
}




$white: #ffffff;
$black: #000000;
$purple200: #c1bde3;
$purple300: #24243e;
$purple400: #302b63;
$purple500: #201a4e;
$width-md: 720px;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  background: $purple400;

  @media (min-width: $width-md) {
    flex-direction: row;
  }
}

::selection {
  background-color: rgba($purple200, 0.25);
}

#messtext {
  box-sizing: border-box;
  min-height: 40px;
  background-color: rgba($purple200, 0.05);
  border-radius: 4px;
  padding: 10px 15px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.85rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.5;
  box-shadow: 0px 2px 12px -3px rgba($black, 0.75);

  @media (min-width: $width-md) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0;
  }
}


  &:before {
    content: "";
    width: 16px;
    height: 16px;
    bottom: -20px;
    left: 33px;
    clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
  }

  &:after {
    content: attr(tooltip);
    width: 140px;
    bottom: -48px;
    left: -30px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.8rem;
  }

  &:before,
  &:after {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    background-color: $black;
    color: $white;
    transform: translateY(-10px);
    transition: all 300ms ease;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    transform: translateY(0);
  }
}












   </style>
   <body>
      <!-- ============================================================== -->
      <!-- main wrapper -->
      <!-- ============================================================== -->
      <div class="dashboard-main-wrapper">
      <!-- ============================================================== -->
      <!-- navbar -->
      <!-- ============================================================== -->
      <div class="dashboard-header">
         <nav class="navbar navbar-expand-lg bg-white fixed-top">
            <a class="navbar-brand" href="../index.html"><span><div class="toptext">Edversity <div style="font-size:11px"> Instructor</div></div></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav ml-auto navbar-right-top">
                  <li class="nav-item">
                     <div id="custom-search" class="top-search-bar">
                        <input class="form-control" type="text" placeholder="Search..">
                     </div>
                  </li>
                  <li class="nav-item dropdown notification">
                     <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
                     <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                        <li>
                           <div class="notification-title"> Notification</div>
                           <div class="notification-list">
                              <div class="list-group">
                                 <a href="#" class="list-group-item list-group-item-action active">
                                    <div class="notification-info">
                                       <div class="notification-list-user-img"><img src="../assets/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                       <div class="notification-list-user-block">
                                          <span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                          <div class="notification-date">2 min ago</div>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item list-group-item-action">
                                    <div class="notification-info">
                                       <div class="notification-list-user-img"><img src="../assets/images/avatar-3.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                       <div class="notification-list-user-block">
                                          <span class="notification-list-user-name">
                                          John Abraham</span>is now following you
                                          <div class="notification-date">2 days ago</div>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item list-group-item-action">
                                    <div class="notification-info">
                                       <div class="notification-list-user-img"><img src="../assets/images/avatar-4.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                       <div class="notification-list-user-block">
                                          <span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                          <div class="notification-date">2 min ago</div>
                                       </div>
                                    </div>
                                 </a>
                                 <a href="#" class="list-group-item list-group-item-action">
                                    <div class="notification-info">
                                       <div class="notification-list-user-img"><img src="../assets/images/avatar-5.jpg" alt="" class="user-avatar-md rounded-circle"></div>
                                       <div class="notification-list-user-block">
                                          <span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                          <div class="notification-date">2 min ago</div>
                                       </div>
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="list-footer"> <a href="#">View all notifications</a></div>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item dropdown connection">
                     <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                     <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                        <li class="connection-list">
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/github.png" alt="" > <span>Github</span></a>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/dribbble.png" alt="" > <span>Dribbble</span></a>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/dropbox.png" alt="" > <span>Dropbox</span></a>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/bitbucket.png" alt=""> <span>Bitbucket</span></a>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/mail_chimp.png" alt="" ><span>Mail chimp</span></a>
                              </div>
                              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                 <a href="#" class="connection-item"><img src="../assets/images/slack.png" alt="" > <span>Slack</span></a>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="conntection-footer"><a href="#">More</a></div>
                        </li>
                     </ul>
                  </li>
                  <li class="nav-item dropdown nav-user">
                     <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/avatar-1.jpg" alt="" class="user-avatar-md rounded-circle"></a>
                     <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                           <h5 class="mb-0 text-white nav-user-name">
                              John Abraham
                           </h5>
                           <span class="status"></span><span class="ml-2">Available</span>
                        </div>
                        <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-power-off mr-2"></i>Logout</a>
                     </div>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
      <!-- ============================================================== -->
      <!-- end navbar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- left sidebar -->
      <!-- ============================================================== -->
      <div class="nav-left-sidebar sidebar-dark">
         <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
               <a class="d-xl-none d-lg-none" href="#">Click This Button To Navigate </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav flex-column">
                     <li class="nav-divider">
                        Menu
                     </li>
                     <li class="nav-item ">
                        <a class="nav-link " href="#"  aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Assingments</a>
                        <div id="submenu-2" class="collapse submenu" style="">
                           <ul class="nav flex-column">
                              <li class="nav-item">
                                 <a class="nav-link" href="cards.html">Create New Assingment<span class="badge badge-secondary">New</span></a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="carousel.html">Check Submissions</a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Resources</a>
                        <div id="submenu-3" class="collapse submenu" style="">
                           <ul class="nav flex-column">
                              <li class="nav-item">
                                 <a class="nav-link" href="chart-c3.html">Post New Resource</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="chart-chartist.html">Manage Existing Resource</a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item ">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Notices</a>
                        <div id="submenu-4" class="collapse submenu" style="">
                           <ul class="nav flex-column">
                              <li class="nav-item">
                                 <a class="nav-link" href="form-elements.html">Post New Notice</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="form-validation.html">View Your Created Notices</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="multiselect.html">View Recived Notices</a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Calendar</a>
                        <div id="submenu-5" class="collapse submenu" style="">
                           <ul class="nav flex-column">
                              <li class="nav-item">
                                 <a class="nav-link" href="general-table.html">Create New Event</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="data-tables.html">View You Calendar</a>
                              </li>
                           </ul>
                        </div>
                     </li>
                     <li class="nav-divider">
                        Features
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/addclass"  aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class="fas fa-fw fa-file"></i>Add a New Class You Teach</a>                      
                     </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="/Create-Invite-Link"  aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Invite Students to a Class</a>  
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Invite Teaches to Join</a>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      <!-- ============================================================== -->
      <!-- end left sidebar -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- wrapper  -->
      <!-- ============================================================== -->
      <div class="dashboard-wrapper">
      <div class="container-fluid dashboard-content">
         <!-- ============================================================== -->
         <!-- pageheader -->
         <!-- ============================================================== -->
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
               <div class="page-header">
                  <h2 class="pageheader-title">Classes</h2>
                  <div class="page-breadcrumb">
                     <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Edversity</a></li>
                           <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Create Invite Link</a></li>
                           
                        </ol>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
         <!-- ============================================================== -->
         <!-- end pageheader -->
         <!-- ============================================================== -->
         <!-- ============================================================== -->
         <!-- accrodions -->
         <!-- ============================================================== -->
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h5 class="section-title">Create a invite link for students</h5>
               <div class="section-block">
              
              
                              
                              
                    
                     
                  
             
                        <!-- Modal Header -->
    <form name = "form" id='form' action = "addclass" method = "POST" >
                           {% csrf_token %}
                       
                        
                     
                           <div id='options' name='options'>
                               <label for="DegreeType">DegreeType</label>
                              <select class="form-control" id="DegreeType" name='DegreeType' placeholder='Choose Degree Type' required>
                                 <option value="" disabled selected hidden>Choose Degree Type</option>
                                 <option>Bachlors</option>
                                 <option>Masters</option>
                                 <option>PhD</option>
                              </select>

                           </div>
                           <br>
                           <div id='options' name='options'>
                           <label for="Degree">Degree</label>
                              <select class="form-control" id="Degree" name='Degree' placeholder='Choose Degree Type' disabled required>
                                 <option value="" disabled selected hidden>Choose Degree</option>
                                 
                              </select>
                           </div>
                           <br>
                           <div id='options' name='options'>
                           <label for="Course">Course</label>
                              <select class="form-control" id="Course" name='Course' placeholder='Choose Course' disabled required>
                                 <option value="" disabled selected hidden>Choose Course</option>
                                 
                              </select>
                           </div>
                           <br>
                           <div id='options' name='options'>
                           <label for="Semsiter">Semsiter</label>
                              <select class="form-control" id="Semsiter" name='Semsiter' placeholder='Choose Semsiter' disabled required>
                                 <option value="" disabled selected hidden>Choose Semsiter</option>
                               
                              </select>
                           </div>
                            <br>
                           <div id='options' name='options'>
                           <label for="RoomName">Room Name</label>
                              <select class="form-control" id="RoomName" name='RoomName' placeholder='Choose Room Name' disabled required>
                                 <option value="" disabled selected hidden>Room Name</option>
                                
                              </select>
                           </div>
                           <br>
                           <div id='options' name='options'>
                           <label for="Subdivision">Subdivision</label>
                              <select class="form-control" id="Subdivision" name='Subdivision' placeholder='Choose Room Name' disabled required>
                                 <option value="" disabled selected hidden>Room Name</option>
                              </select>
                            
                            <input class="form-control" id="subject" name='subject' hidden>
                          
                               
                         
                     </form><br>
 <button type="button" id='genratelink'class="btn btn-rounded btn-outline-dark" id='clonebttn'>Genrate Invite Link</button>
     
<table>
  <tr>
    <td><div id="text">

</div></td>
    <td>
    <button id="copy" class="btn btn-rounded btn-outline-dark" tooltip="Copy to clipboard" hidden>Copy Link Only</button>
 <div id='1'> </div> 
  </td>
  </tr>

    <tr>
    <td><div id="messtext">

</div></td>
    <td>
    <button id="messcopy" class="btn btn-rounded btn-outline-dark" tooltip="Copy to clipboard" hidden>Copy With Message</button>
    <div id='2'> </div>
  </td>
  </tr>
</table>
    

           
                     
                           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                           <script>
                           const textElement = document.getElementById("text");
                           const copyButton = document.getElementById("copy");

                           const copyText = (e) => {
                              e.preventDefault();
                           window.getSelection().selectAllChildren(textElement);
                           document.execCommand("copy");
                           e.target.setAttribute("tooltip", "Copied! ✅");
                            $("#copy").empty()
                            $("#copy").append('<p> Copied! ✅ </p>');
                           
                           };

                           const resetTooltip = (e) => {
                           e.target.setAttribute("tooltip", "Copy to clipboard");
                           };

                           copyButton.addEventListener("click", (e) => copyText(e));
                           copyButton.addEventListener("mouseover", (e) => resetTooltip(e));




                            $('#messcopy').click(function(e) {
                           e.preventDefault();
                           window.getSelection().selectAllChildren(document.getElementById("messtext"));
                           document.execCommand("copy");
                            $("#messcopy").empty()
                            $("#messcopy").append('<p> Copied! ✅ </p>');
                                 
                            });



                              $("#clonebttn").click(function(e){
                                $("#clonestuff").clone().appendTo($("#clones"));
                                });
                              var touchtime = 0;
                              $("#removebttn").on("click", function() {
                                if (((new Date().getTime()) - touchtime) < 500) {
                                  $("#clones").children().last().remove();
                                }
                                touchtime = new Date().getTime();
                              });
                           </script>
                           <script>
                              

                           

                   $('#genratelink').click(function(e) {
                      e.preventDefault();
                      $("#copy").empty()
                      $("#messcopy").empty()
                       $("#copy").append('Copy Link Only');
                        $("#messcopy").append('Copy With Message');

                   DegreeType = document.getElementById("DegreeType").value;
                   Degree = document.getElementById("Degree").value;
                   Course = document.getElementById("Course").value;
                   Semsiter = document.getElementById("Semsiter").value;
                    RoomName = document.getElementById("RoomName").value;
                    Subdivision = document.getElementById("Subdivision").value;
                   document.getElementById("copy").hidden = false;
                   document.getElementById("messcopy").hidden = false;
                                  console.log(RoomName);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:linkgen' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:Semsiter,
                                              Room_Name:RoomName,
                                              Subdivision:Subdivision,
                                              
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                     $("#text").empty() 
                                 $("#text").append(json.link);
                                 
                                 $("#messtext").empty() 
                                 if(Degree == '')
                                 {
                                 $("#messtext").empty()   
                                 $("#messtext").append('{{name}} has invited you to join a class in {{iname}} at Edversity, you will be given options to further choose within <br> <br>'+ json.link);
                                 }
                                 if(Semsiter != '')
                                 {
                                 $("#messtext").empty()
                                 $("#messtext").append('{{name}} has invited you to join a class in {{iname}} under '+Degree+' '+Course+' '+'Sem-'+Semsiter+' '+RoomName+' division, you will be given options to further choose within <br> <br>'+ json.link);
                                 }
                                 if(Subdivision != '')
                                 {
                                 $("#messtext").empty() 
                                 if (Subdivision == 'All Students')
                                 {
                                     $("#messtext").empty()   
                                 $("#messtext").append('{{name}} has invited you to join a class in {{iname}} under '+Degree+' '+Course+' '+'Sem-'+Semsiter+' '+RoomName+', Dedicated to '+Subdivision+'. This a a dirct link, so click only if you belong to this class. <br> <br>'+ json.link);
                                 }
                                 else
                                 {
                                     $("#messtext").empty()   
                                 $("#messtext").append('{{name}} has invited you to join a class in {{iname}} under '+Degree+' '+Course+' '+'Sem-'+Semsiter+' '+RoomName+', for '+Subdivision+' batch. This a a dirct link, so click only if you belong to this class. <br> <br>'+ json.link);

                                 }
                                 }
                                 else
                                 { $("#messtext").empty()   
                                 $("#messtext").append('{{name}} has invited you to join a class in {{iname}} under '+Degree+' '+Course+' '+'division, you will be given options to further choose within <br> <br>'+ json.link);
                                 }

                                
                                  
                                 },
                                 });
                                 });   
                     
                           </script>


 

                            <script>
                              String.prototype.capitalize = function() {
                                  return this.charAt(0).toUpperCase() + this.slice(1);
                              }

                              String.prototype.titleize = function() {
                                  var string_array = this.split(' ');
                                  string_array = string_array.map(function(str) {
                                     return str.capitalize(); 
                                  });
                                  
                                  return string_array.join(' ');
                              }

                               $("#nvmc").click(function(){
                                    $('#ModalCenter').modal('hide');
                                   });
                                  $("#nvmc2").click(function(){
                                    $('#ModalCenter').modal('hide');
                                   });
                              var DegreeType = 'None',Degree='None',Course='None',Semsiter='None',Room_Name='None',Subdivision='None',subject='None';
                              var coursechange = false, semchange = false, roomchange = false, subdivchange=false,subjectchange=false;
                              </script>
                              <script>
                              $('#DegreeType').change(function(event) {

                                 if ((event.originalEvent.isTrusted === true && event.originalEvent.isPrimary === undefined) || event.originalEvent.isPrimary === true) {
                                  DegreeType=document.getElementById("DegreeType").value;

                                  console.log(DegreeType);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                           DegreeType:DegreeType,
                                           Degree:'None',
                                           Course:'None',
                                           Semsiter:'None',
                                           Room_Name:'None',
                                           Subdivision:'None',
                                           subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                  document.getElementById("Degree").disabled = false;
                                  $("#Degree").empty(); 
                                  $("#Degree").append("<option value='' disabled selected hidden>Choose Degree</option>");
                                   for(var optionsxx in json.options)
                                   {
                                   $("#Degree").append("<option>"+json.options[optionsxx]+"</option>"); 
                                   }
                                   

                                   //resetign all other
                                   $("#Course").append("<option value='' disabled selected hidden>Choose Course</option>");
                                   document.getElementById("Course").disabled = true;

                                   $("#Semsiter").append("<option value='' disabled selected hidden>Choose Semsiter</option>");
                                   document.getElementById("Semsiter").disabled = true;

                                   $("#RoomName").append("<option value='' disabled selected hidden>Room Name</option>");
                                   document.getElementById("RoomName").disabled = true;

                                
                                   $("#Subdivision").append("<option value='' disabled selected hidden>Choose Subdivision</option>");
                                   document.getElementById("Subdivision").disabled = true;

                                   $("#Subject").append("<option value='' disabled selected hidden>Choose Subject</option>");
                                   document.getElementById("Subject").disabled = true;
                                   $("#clones").empty(); 
                                    
                                 },
                                 });
                                } });
                              </script>
                              <script>

                              $('#Degree').change(function(event) {
                                 if ((event.originalEvent.isTrusted === true && event.originalEvent.isPrimary === undefined) || event.originalEvent.isPrimary === true)  {
                                  Degree=document.getElementById("Degree").value;
                                 //alert('This must not be '+Degree)
                                 
                                  console.log(Degree);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:'None',
                                              Semsiter:'None',
                                              Room_Name:'None',
                                              Subdivision:'None',
                                              subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                  document.getElementById("Course").disabled = false;
                                  $("#Course").empty(); 
                                  $("#Course").append("<option value='' disabled selected hidden>Choose Course</option>");
                                   for(var optionsxx in json.options)
                                   {
                                   $("#Course").append("<option>"+json.options[optionsxx]+"</option>");
                                   }
                              
                                 
                                   //resetign all other
                               
                                   $("#Semsiter").append("<option value='' disabled selected hidden>Choose Semsiter</option>");
                                   document.getElementById("Semsiter").disabled = true;

                                   $("#RoomName").append("<option value='' disabled selected hidden>Room Name</option>");
                                   document.getElementById("RoomName").disabled = true;

                                
                                   $("#Subdivision").append("<option value='' disabled selected hidden>Choose Subdivision</option>");
                                   document.getElementById("Subdivision").disabled = true;

                                   $("#Subject").append("<option value='' disabled selected hidden>Choose Subject</option>");
                                   document.getElementById("Subject").disabled = true;
                                   $("#clones").empty(); 
                                 },
                                 });
                                 }  });

                                 </script> 
                                 <script>

                            $('#Course').change(function() {
                                Course=document.getElementById("Course").value;
                                 //alert('This must not be '+Course)
                                 
                                  console.log(Course);
                                //   alert('Degree value in Course ajax '+document.getElementById("Degree").value)
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:'None',
                                              Room_Name:'None',
                                              Subdivision:'None',
                                              subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                  document.getElementById("Semsiter").disabled = false;
                                  $("#Semsiter").empty(); 
                                  $("#Semsiter").append("<option value='' disabled selected hidden>Choose Semsiter</option>");
                                   for(var optionsxx in json.options)
                                   {
                                   $("#Semsiter").append("<option>"+json.options[optionsxx]+"</option>");
                                   }
                                
                                   //resetign all other
                                  

                                   $("#RoomName").append("<option value='' disabled selected hidden>Room Name</option>");
                                   document.getElementById("RoomName").disabled = true;

                                
                                   $("#Subdivision").append("<option value='' disabled selected hidden>Choose Subdivision</option>");
                                   document.getElementById("Subdivision").disabled = true;

                                   $("#Subject").append("<option value='' disabled selected hidden>Choose Subject</option>");
                                   document.getElementById("Subject").disabled = true;
                                   $("#clones").empty(); 
                                 },
                                 });
                                 });
                                 </script>
                                 <script>

                               $('#Semsiter').change(function() {
                                  Semsiter=document.getElementById("Semsiter").value;
                                  
                                  console.log(Semsiter);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:Semsiter,
                                              Room_Name:'None',
                                              Subdivision:'None',
                                              subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                    $("[name='RoomName']").each(function(){
                                    this.disabled = false;
                                     $(this).empty(); 
                                 $(this).append("<option value='' disabled selected hidden>Room Name</option>");
                                   for(var optionsxx in json.options)
                                   {this.disabled = false;
                                   $(this).append("<option>"+json.options[optionsxx]+"</option>");
                                   }
                                  
                                   });
                                 
                                   //resetign all other
                                 
                                   $("#Subdivision").append("<option value='' disabled selected hidden>Choose Subdivision</option>");
                                   document.getElementById("Subdivision").disabled = true;

                                   $("#Subject").append("<option value='' disabled selected hidden>Choose Subject</option>");
                                   document.getElementById("Subject").disabled = true;
                                 },
                                 });
                                 });

                              
                            $(document).on('change',"[name='RoomName']" ,function()
                                   {

                                  RoomName=document.getElementById("RoomName").value;
                                  
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:Semsiter,
                                              Room_Name:RoomName,
                                              Subdivision:'None',
                                              subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                 $("[name='Subdivision']").each(function(){
                                    this.disabled = false;
                                     $(this).empty(); 
                                 $(this).append("<option value='' disabled selected hidden>Choose Subdivision</option>");
                                   for(var optionsxx in json.options)
                                   {this.disabled = false;
                                   $(this).append("<option>"+json.options[optionsxx]+"</option>");
                                   }

                               
                                  });
                                 },
                                 });
                                 }); 





                              $('#Subdivision').change(function() {
                                  Subdivision=document.getElementById("Subdivision").value;
                                 
                                  console.log(RoomName);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:Semsiter,
                                              Room_Name:RoomName,
                                              Subdivision:Subdivision,
                                              subject:'None',
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                                  $("[name='Subject']").each(function(){
                                    this.disabled = false;
                                     $(this).empty(); 
                                 $(this).append("<option value='' disabled selected hidden>Choose Subject</option>");
                                   for(var optionsxx in json.options)
                                   {this.disabled = false;
                                   $(this).append("<option>"+json.options[optionsxx]+"</option>");
                                   }

                                 
                                  });
                                 
                                  
                                 },
                                 });
                                 });   




                        var save = false;

                        $('#Subject').change(function() {
                                  Subject=document.getElementById("Subject").value;
                                 
                                  console.log(RoomName);
                                  $.ajax({
                                       type:'POST',
                                       url: "{% url 'common:getdata' %}",
                                       data:{
                                              DegreeType:DegreeType,
                                              Degree:Degree,
                                              Course:Course,
                                              Semsiter:Semsiter,
                                              Room_Name:RoomName,
                                              Subdivision:Subdivision,
                                              subject: Subject,
                                           csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                                           action: 'post',
                                       },
                                  success:function(json){
                         
                                 document.getElementById("submitit").disabled = false;
                                  
                                 },
                                 });
                                 });   


                                  

                              
                                                               //Dynamic Data loader




                           </script>
                      
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- ============================================================== -->
         <!-- end wrapper -->
         <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- end main wrapper -->
      <!-- ============================================================== -->
      <!-- Optional JavaScript -->
      <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
      <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
      <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js'%}"></script>
      <script src="{% static 'assets/libs/js/main-js.js"></script>
      <script>
         $('.collapse').on('shown.bs.collapse', function() {
             $(this).parent().find(".fa-angle-down").removeClass("fa-angle-down").addClass("fa-angle-up");
         }).on('hidden.bs.collapse', function() {
             $(this).parent().find(".fa-angle-up").removeClass("fa-angle-up").addClass("fa-angle-down");
         });
         
         $('.panel-heading a').click(function() {
             $('.panel-heading').removeClass('active');
         
             //If the panel was open and would be closed by this click, do not active it
             if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                 $(this).parents('.panel-heading').addClass('active');
         });
      </script>
   </body>
</html>